<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: head_resources(~{::title})">-->
<head th:replace="fragments/header :: head_resources(~{::title})">
    <title>Forgot Password</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div>
    <div th:if="${message != null}"
         th:text="${'Reset password email sent. Please check your email for a link to reset your password'}" />

    <div th:if="${message == null}">
        <-- Forgot Password -->
        <form method="POST" id="forgot-password-form" name="forgot-password-form" th:action="@{/forgot-password}">
            <label for="email">Email</label>
            <input id="email" name="email" />

            <input type="submit" value="Send Reset Password Email" />
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>