<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: head_resources(~{::title})">-->
<head th:replace="fragments/header :: head_resources(~{::title})">
    <title>Password Reset</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div>
    <-- Password Reset -->
    <form method="POST" id="register-form" name="register-form" th:action="@{/password-reset}">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />

        <input type="hidden" id="token" name="token" th:value="${token}" />

        <input type="submit" value="Reset Password" />
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>